.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  margin-right: 20px;
}

.header__title-content {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.header__title-content span {
  text-transform: uppercase;
  padding: 7px;
  background-color: #515155;
  border-radius: 4px;
}

.header__title-content span+span {
  margin-left: 10px;
}

.header__left p {
  color: rgb(170, 167, 167);
}

.header__right--button {
  padding: 10px 13px;
  border: 1px solid gray;
  color: gray;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__right--button:hover {
  border: 1px solid white;
  color: white;
}