.hero {
  margin-top: 30px;
}

.hero__title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.hero__span-top {
  display: inline-block;
  width: 800px;
  height: 0.2px;
  border: 0 solid rgba(201, 200, 200, 0.651);
  background-color: rgba(201, 200, 200, 0.651);
}

.hero__inner {
  margin: 20px auto;
}

.hero__img {
  width: 650px;
  perspective: 1000px;
  margin: 0 auto;

}

.hero__img1 {
  width: 650px;
  height: 120px;
  transform: rotateX(-35deg);
  box-shadow: 0px 5px 70px -25px #ffffff;
}

.hero__table-content {
  perspective: 1000px;
}

.hero__table {
  width: 600px;
  margin: 0 auto;
  transform: rotatex(35deg);
}

.hero__table tr {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.hero__table tr+tr {
  margin-top: 35px;
}


.hero__table td {
  padding: 5px 10px;
  color: #4EAAFF;
  background-color: #4EAAFF;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero__table td:hover {
  outline: 1px solid #4da1fc;
  outline-offset: 6px;
  box-shadow: 0 0 5px 1px #ffffff;
  color: #ffffff;
  cursor: pointer;

}

.hero__table td~.td-green {
  background-color: #65D057;
  color: #65D057;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero__table td~.td-green:hover {
  color: #ffffff;
  outline-offset: 6px;
  box-shadow: 0 0 5px 1px white;
  color: white;
}

.footer__span-top {
  margin-top: 20px;
}